%section.wrapper
  .header
    .flex-wrapper
      %h1.black How long before we can eat that delicious chicken again?
      %h2.red Brahk Brahk
    %hr
    
  .countdown
    %h1 2 Days 1 min 30 sec
    
  .footer
    %hr
    %h3 Every Friday, we meet to eat the finest chicken breast. Not a club, rather a religion.
    %h4
      Website by
      %a{:href => "https://denismoulin.com"}Tommy Beakster
    %hr
    
  