@font-face {
    font-family: book;
    src: url(data/mn-book.ttf);
    font-weight: 100;
}

@font-face {
    font-family: demi;
    src: url(data/mn-demi.ttf);
    font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 2rem;
  font-family: book, sans-serif;
}

html, body {
  color: #181713;
  background: #FECA05;
  height: 100%;
}

a:link, a:visited, a:hover {
  color: black;
  text-decoration: underline;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  color: #C33506;
}

h3, h4 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.2);
}

hr {
  height: 0.2rem;
  border: none;
  outline: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.header .flex-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.header .flex-wrapper h1 {
  max-width: 60rem;
  margin: 0 auto 0 0;
}

.countdown {
  display: inline-flex;
  background: white;
  padding: 2.5rem 0rem 5rem;
}

.countdown .countdown__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-family: demi, sans-serif;
}

.countdown .countdown--unit{
  font-size: 3vw;
}

.countdown .countdown--result{
  font-size: 10vw;
}


.footer {
  display: flex;
  flex-direction: column;
}
.footer h3 {
  margin: 2rem 0 2rem auto;
}
.footer h4 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .footer{  text-align: right;}

  .footer h3 {  max-width: 40rem;}

  .header .flex-wrapper h2 {  text-align: right;}
}

@media screen and (max-width: 750px) {

  .header .flex-wrapper h1 {  margin-bottom: 2rem;}
  .header .flex-wrapper{  flex-direction: column; align-items: flex-start;}
  .countdown__block.minutes, .countdown__block.seconds{ display: none;}
}

@media screen and (max-width: 500px) {
  .header .flex-wrapper{  flex-direction: column;}
  .countdown__block.hours{ display: none;}
}
